@model Sadvo.Application.DTOs.Election.SaveElectionDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Save</h1>

<h4>SaveElectionDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="ElectionId" class="control-label"></label>
                <input asp-for="ElectionId" class="form-control" />
                <span asp-validation-for="ElectionId" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="nameElections" class="control-label"></label>
                <input asp-for="nameElections" class="form-control" />
                <span asp-validation-for="nameElections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateElections" class="control-label"></label>
                <input asp-for="dateElections" class="form-control" />
                <span asp-validation-for="dateElections" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="yearElections" class="control-label"></label>
                <input asp-for="yearElections" class="form-control" />
                <span asp-validation-for="yearElections" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isActiveElection" /> @Html.DisplayNameFor(model => model.isActiveElection)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
